body{
  background-image: url("https://coolbackgrounds.io/images/backgrounds/black/black-contour-f41038db.svg");
  background-size: cover;

}

.Title{
    color: white;
    font-family: 'Playfair', serif;
    border-width: 10px;
}



